* {
    margin: 0;
}

body {
    background-color: rgb(23, 27, 36);
    font-family: 'lato', sans-serif;
}

.flex {
    display: flex;
}

.topdiv {
    background-color: rgb(34.5, 40.5, 54);
    justify-content: right;
    padding: 30px 30px 30px 1px;
    border: solid rgb(100, 200, 200);
    border-width: 0 0 5px;
    display: flex;
}

.button {
    padding: 0 5% 0 0;
    background-color: transparent;
    border: 0;
    color: rgb(240, 240, 255);
    font-weight: bolder;
    font-size: 140%;
    text-align: right;
    position: relative;
}

.maindiv {
    width: auto;
    margin: 10% 0 10% 7.5%;
}

.introduction {
    font-weight: bolder;
    color: rgb(240, 240, 255);
    font-size: 250%;
    width: auto;
    display: flex;
    justify-content: space-between;
}

.introduction h1 {
    font-size: 300%;
    position: relative;
    right: 4px;
}

.profile {
    height: 360px;
    width: 360px;  
    border: solid 5px rgb(100, 200, 200);
    border-radius: 50%;
    padding: 30px;
    margin-right: 7.5%;
    position: relative;
    bottom: 40px
}

.reminder {
    display: flex;
    color: rgb(100, 200, 200);
    font-size: larger;
}

.arrowdown {
    color: rgb(100, 200, 200);
}

#about {
    margin: 8% 0 0;
    border: solid rgb(100, 200, 200);
    border-width: 5px 0 0;
    padding: 2%;
    color: rgb(240, 240, 255);
    font-size: 195%;
    max-width: 42.5%;
}

.subtitle {
    display: flex;
    justify-content: space-between;
}

.icon{
    color: rgb(240, 240, 255);
    padding: 10px;
    border-radius: 50%;
    background-color: rgb(34.5, 40.5, 54);
    margin-right: 30px;
}

h2 {
    margin: 15px 0;
    position: relative;
    bottom: 10px;
    left: 10px;
}

#about p {
    padding: 20px;
    background-color: rgb(34.5, 40.5, 54);
    text-align: justify;
}

#skills {
    max-width: 60%;
    border: solid rgb(100, 200, 200);
    border-width: 0px 0px 5px 5px;
    margin: 8% 7.5% 0 0;
    padding: 2%;
    color: rgb(240, 240, 255);
    font-size: 136%;
}

#skills h2 {
    text-align: center;
    margin-right: 4%;
    font-size: 175%;
}

.baloon {
    position: relative;
    bottom: 60px;
}

.skill {
    padding: 15px;
    background-color: rgb(34.5, 40.5, 54);
    margin: 4% 4% 0 0;
    width: 50%
}

.subsubtitle {
    justify-content: center;
    display: flex;
    padding: 5px;
    gap: 4%;
    border-bottom: solid 4px rgb(240, 240, 255);
    margin-bottom: 4%;
    padding: 10px;
}

#experience {
    position: relative;
    bottom: 130px;
    color:rgb(240, 240, 255);
    font-size: 230%;
}

#experience h1 {
    width: 42.5%;
    text-align: center;
    padding: 20px 0% 150px 0;
    margin-left: 2%;
}

#experience p {
    background-color: rgb(34.5, 40.5, 54);
    margin: 0 7.5% 0 2%;
    padding: 20px;
}